/* Basic structure */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #fff;
    background-color: #e7ecf1;
}
header {
    height: 75px;
    background-color: #505050;
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/* Block buttons */

.block-controls {
    display: flex;
    gap: 5px;
}

header button {
    display: inline-block;
    position: relative;
    padding: 10px 20px;
    background-color: #f0f0f0;
    border: none;
    cursor: pointer;
}

header button::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #0087ca;
  transform: scaleX(0);
  transform-origin: bottom center;
  transition: transform 0.25s ease-out;
}

header button:hover::after {
  transform: scaleX(1);
  transform-origin: bottom center;
}
/* Basic structure */

/* main block */
main {
  display: flex;
  justify-content: center;
  margin: 15% 0;
}
.cap-block {
    font-size: 1.2rem;

    color: #000;
    border: 1px solid black;

    padding: 20px 40px;

    display: flex;
    flex-direction: column;
}
#enter_url {
    height: 30px;
}
#enter_url::placeholder {
    text-align: center;

}
.cap-block button {
    background-color: crimson;
    border: none;
    margin: 10px 0;

    padding: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.cap-block button:hover {
    background-color: rgba(220, 20, 60, 0.704);
}